venv/
env/
.env
.venv
chroma_db/
images
knowledge_base
Reank_models
tests
.dsh
.dsh/skills
.dsh-test-tools
__pycache__/
*.py[cod]
*.so
.Python


*.log
*.db
*.sqlite3

.env.local
.env.*.local


.vscode/
.idea/


*.tmp
.DS_Store
11.docx
pytest.ini
